
img.fullScreen00 {
	position: absolute;
	background-image: url("../img/sun-451441_1920.jpg")	
}

.fullScreen01 {
	position: absolute;
	background-image: url("../img/sport-927760_1920.jpg");
	width: 1200px;
	height: 800px;
}

img.fullScreen02 {
	position: absolute;
	background-image: url("../img/sport-927759_1920.jpg")	
}

img.fullScreen03 {
	position: absolute;
	background-image: url("../img/shadow-198682_1920.jpg")	
}

img.fullScreen04 {
	position: absolute;
	background-image: url("../img/teddy-bear-797577_1920.jpg")	
}

img.fullScreen05 {
	position: absolute;
	background-image: url("../img/tunnel-237656_1920.jpg")	
}

img.fullScreen06 {
	position: absolute;
	background-image: url("../img/volcanic-eruption-67668_1920.jpg")	
}

img.fullScreen07 {
	position: absolute;
	background-image: url("../img/sand-289225_1280.jpg")	
}

img.fullScreen08 {
	position: absolute;
	background-image: url("../img/rail-road-191097_1920.jpg")	
}

img.fullScreen09 {
	position: absolute;
	background-image: url("../img/pug-801826_1920.jpg")	
}

img.fullScreen10 {
	position: absolute;
	background-image: url("../img/pug-690566_1280.jpg")	
}

img.fullScreen11 {
	position: absolute;
	background-image: url("../img/kids-143022_1920.jpg")	
}

img.fullScreen12 {
	position: absolute;
	background-image: url("../img/i-beg-your-pardon-927753_1920.jpg")	
}
img.fullScreen13 {
	position: absolute;
	background-image: url("../img/graffiti-8051_1920.jpg")	
}

img.fullScreen14 {
	position: absolute;
	background-image: url("../img/frog-947770_1920.jpg")	
}
img.fullScreen15 {
	position: absolute;
	background-image: url("../img/frog-897419_1920.jpg")	
}

img.fullScreen16 {
	position: absolute;
	background-image: url("../img/fountain-197334_1920.jpg")	
}
img.fullScreen17 {
	position: absolute;
	background-image: url("../img/europe-182767_1920.jpg")	
}

img.fullScreen18 {
	position: absolute;
	background-image: url("../img/donkey-105719_1920.jpg")	
}
img.fullScreen19 {
	position: absolute;
	background-image: url("../img/dog-589002_1920.jpg")	
}

img.fullScreen20 {
	position: absolute;
	background-image: url("../img/sun-451441_1920.jpg")	
}
img.fullScreen21 {
	position: absolute;
	background-image: url("../img/crash-205525_1920.jpg")	
}

img.fullScreen22 {
	position: absolute;
	background-image: url("../img/convoy_404.jpg")	
}
img.fullScreen23 {
	position: absolute;
	background-image: url("../img/clothes-peg-550875_1920.jpg")	
}

img.fullScreen24 {
	position: absolute;
	background-image: url("../img/cat-323262_1280.jpg")	
}
img.fullScreen25 {
	position: absolute;
	background-image: url("../img/canary-islands-91013_1280_1920.jpg")	
}

img.fullScreen26 {
	position: absolute;
	background-image: url("../img/sun-451441_1920.jpg")	
}
img.fullScreen27 {
	position: absolute;
	background-image: url("../img/canary-islands-91013_1280_1920.jpg")	
}

img.fullScreen28 {
	position: absolute;
	background-image: url("../img/boxing-100733_1280.jpg")	
}
img.fullScreen29 {
	position: absolute;
	background-image: url("../img/automotive-62827_1920.jpg")	
}

img.fullScreen30 {
	position: absolute;
	background-image: url("../img/animal-197161_1920.jpg")	
}
img.fullScreen31 {
	position: absolute;
	background-image: url("../img/bg4.jpg")	
}

img.fullScreen32 {
	position: absolute;
	background-image: url("../img/nature-213364_1920.jpg")	
}
